.reviews__item {
    height: 141px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.review__username {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.review__flex {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.review__rating {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.review__text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}