.header {
    background: #000000;
    color: #fff;
}

.header__inner {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}