.homePage {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 285px;
    height: 659px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebar__genre_active {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.sidebar__genre {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}